body {
  
  background-image: url(../images/cont.png);
  background-repeat: no-repeat;
    background-attachment: fixed;
}


.jumbotron {
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #444349 75%); */

  /* height: 0; */
  
  
  text-align: center;
  
  background-size: cover;
  background: contain;
  color: #ff0404;
  
  text-shadow: 5px 5px 5px #000000;
  background-image: url(../images/ssb.png);
  font-family: 'Anton', sans-serif;
  letter-spacing: 20px;
  /* background-position: center; */

}


.card-header {
  opacity: 1.0;
  background-color: rgb(86, 236, 241);
  color :#f39778;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Bangers', cursive;
}
.card-body {
  opacity: 0.9;
  background-color: white;
}

.btn {
  text-shadow: 0 0 3px #FF0000;
}